@import "md.css";
@import "main.css";

#main {
    color: cornflowerblue;
}

hr {
    margin: 0;
    width: 100%;
}

h2.main {
    color: cornflowerblue;
}

h3.main {
    margin: 0.4rem;
    height: 1rem;
    line-height: 1.2rem;
}

.blogIcon {
    width:4rem;
    height:0;
    float:left;
    margin: 0.4rem;
    border-radius: 0.4rem;
    padding-bottom: 4rem;
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

a {
    text-decoration: none;
    color: inherit;
}

#timestamp {
    font-size: 0.7rem;
    font-weight: normal;
    color:#888;
    float:right
}

#goToTop {
    left: 50%;
    height: 2rem;
    position: fixed;
    bottom: 4rem;
    background-color: lightgrey;
    border-radius: 0.2rem;
    margin-left: 22rem;
    opacity: 0.5;
}

#goToTop:hover {
    opacity: 0.8;
}

#goToTop:active {
    opacity: 1;
}

p#intro {
    height: 2.65rem;
    margin: 0.2rem;
    font-size: 0.7rem;
    line-height: 0.9rem;
    color: #666;
    overflow: hidden;
    width: 32rem;
}

p>img {
    width: 50%;
}

a:hover {
    text-decoration: none;
}

.tableitem:hover {
    border-radius: 0.4rem;
    background-color: #F5F5F5;
    box-shadow: inset 2px 2px 4px #888;
}

.tableitem {
    padding: 1rem;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

/* ul.pagination li {display: inline;} */

ul.pagination li a {
    color: black;
    float: left;
    font-size: 1rem;
    margin: 0.2rem;
    padding: 0 0.5rem;
    text-decoration: none;
    border-radius: 0.2rem;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: #888;
}

ul.pagination li a:hover {
    background-color: #ddd;
}

#nav {
    top: 6rem;
    left: 50%;
    position: fixed;
    margin-left: -35rem;
    max-width: 8rem;
}

#navitem {
    width: 6rem;
    text-align: left;
    font-size: 0.8rem;
    overflow: scroll;

}

#navitem::-webkit-scrollbar {
    display:none;
}

#navitem.scroll_content{
    -ms-scroll-chaining: chained;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    /* -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%; */
    -ms-scroll-snap-type: proximity;
    /* -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%); */
    -ms-overflow-style: none;
    /* overflow: auto; */
}

#navitem.scroll_content .-o-scrollbar{
    -moz-appearance: none !important;
    background: rgba(0,255,0,0) !important;
}
