<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>558720475.874259</real>
				<key>lastModification</key>
				<real>558720475.874259</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>停电.md</key>
			<dict>
				<key>lastModification</key>
				<real>536754348.89871299</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>劫匪的经验.md</key>
			<dict>
				<key>lastModification</key>
				<real>557054546.77458501</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>栽赃.md</key>
			<dict>
				<key>lastModification</key>
				<real>555092048.78898597</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>歌词：.md</key>
			<dict>
				<key>lastModification</key>
				<real>557245515.02818096</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>死亡压迫.md</key>
			<dict>
				<key>lastModification</key>
				<real>536770989.52945697</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>死亡压迫—原.md</key>
			<dict>
				<key>lastModification</key>
				<real>536770982.34999901</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>绑匪.md</key>
			<dict>
				<key>lastModification</key>
				<real>556602675.27710295</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>27</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>536754175.648534</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>死亡压迫.md</string>
		</array>
		<array>
			<string>劫匪的经验.md</string>
		</array>
		<array>
			<string>绑匪.md</string>
		</array>
		<array>
			<string>歌词：.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>死亡压迫—原.md</string>
		</array>
		<array>
			<string>停电.md</string>
		</array>
		<array>
			<string>栽赃.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>FileDestroyed</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
			<integer>39</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
