<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>createMarkedFile</key>
	<integer>1</integer>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>createMarkedFile</key>
		<real>554645401.978351</real>
		<key>sheetClusters</key>
		<dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>557677797.21380401</real>
				<key>lastModification</key>
				<real>557677797.21380401</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>序章 未知飞行器.md</key>
			<dict>
				<key>lastModification</key>
				<real>555014282.50980103</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>游戏世界设定.md</key>
			<dict>
				<key>lastModification</key>
				<real>554972998.44361806</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>破阵.md</key>
			<dict>
				<key>lastModification</key>
				<real>535992478.98265499</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>第一章 元素世界.md</key>
			<dict>
				<key>lastModification</key>
				<real>557291857.79461396</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>陷阱.md</key>
			<dict>
				<key>lastModification</key>
				<real>535954090.41664302</real>
				<key>version</key>
				<dict>
					<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>554645391.54379499</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>陷阱.md</string>
		</array>
		<array>
			<string>序章 未知飞行器.md</string>
		</array>
		<array>
			<string>第一章 元素世界.md</string>
		</array>
		<array>
			<string>游戏世界设定.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>破阵.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Theater</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
			<integer>5</integer>
		</dict>
		<key>createMarkedFile</key>
		<dict>
			<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
			<integer>29</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>199a9527ea0be16f1ddd2a0da65bac753b84daf077b9c8682bdb8012a1efe413</key>
			<integer>23</integer>
		</dict>
	</dict>
</dict>
</plist>
